Компьютерная безопасность/ЛР4/WebSite/App_WebReferences/ServiceAuthorization/ServiceAuthorization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAuthorization" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62244/ServiceAuthorization.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62244/ServiceAuthorization.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62244/ServiceAuthorization.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAuthorization_AccessAction_InputMessage">
    <wsdl:part name="parameters" element="tns:AccessAction" />
  </wsdl:message>
  <wsdl:message name="IServiceAuthorization_AccessAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccessActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAuthorization_Authentication_InputMessage">
    <wsdl:part name="parameters" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="IServiceAuthorization_Authentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAuthorization_MakeCryptoKey_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeCryptoKey" />
  </wsdl:message>
  <wsdl:message name="IServiceAuthorization_MakeCryptoKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeCryptoKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAuthorization">
    <wsdl:operation name="AccessAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAuthorization/AccessAction" message="tns:IServiceAuthorization_AccessAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAuthorization/AccessActionResponse" message="tns:IServiceAuthorization_AccessAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAuthorization/Authentication" message="tns:IServiceAuthorization_Authentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAuthorization/AuthenticationResponse" message="tns:IServiceAuthorization_Authentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeCryptoKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAuthorization/MakeCryptoKey" message="tns:IServiceAuthorization_MakeCryptoKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAuthorization/MakeCryptoKeyResponse" message="tns:IServiceAuthorization_MakeCryptoKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAuthorization" type="tns:IServiceAuthorization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccessAction">
      <soap:operation soapAction="http://tempuri.org/IServiceAuthorization/AccessAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authentication">
      <soap:operation soapAction="http://tempuri.org/IServiceAuthorization/Authentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeCryptoKey">
      <soap:operation soapAction="http://tempuri.org/IServiceAuthorization/MakeCryptoKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAuthorization">
    <wsdl:port name="BasicHttpBinding_IServiceAuthorization" binding="tns:BasicHttpBinding_IServiceAuthorization">
      <soap:address location="http://localhost:62244/ServiceAuthorization.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>